.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h4.sub-tittle {
    margin: 1.2em 0 0 0;
    font-size: 15px;
    color: #007cc0;
    text-transform: uppercase;
    font-weight: 500;
}
h2.title-wthree{
      font-size:3em;
     text-transform: uppercase;
}
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
}

.address-grid-w3ls i {
    font-size: 1.5em;
    color: #ffc107;
    background: #323435;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 2.5em;
}
.navbar-brand {
  display: inline-block;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 3.5em;
  line-height: inherit;
  white-space: nowrap;
  text-align: center;
  color: #007cc0;
  text-shadow: 2px 2px #FFFFFF;
  float: none;
}
.logo-wthree i {
    color: #fff;
    text-shadow: none;
    font-size: .9em;
}

a.navbar-brand span {
    display: block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    margin-top: -10px;
    text-align: center;
    text-shadow: none;
}