/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Open Sans Condensed';
}
body{
	background:#FFFFFF;
}
.w3layouts-banner-top{
    padding: .2em 0;
    background: #F44336;
}
/*-- banner --*/
.banner{
    background: url(../images/1-2.jpg) no-repeat 50% 0px ;

}
.top-banner-left{
	float:left;
}
.top-banner-left ul{
	padding:0;
	margin:0;
}
.top-banner-left ul li{
	display:inline-block;
	color:#fff;
	font-size:.875em;
}
.top-banner-left ul li a{
    color: #fff;
    font-size: 1em;
	text-decoration:none;
}
.top-banner-left ul li:nth-child(2) {
    margin-left: 3em;
}
.top-banner {
    padding: .5em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.23);
}
.top-banner-right{
	float:right;
}
.top-banner-right ul{
	padding:0;
	margin:0;
}
.top-banner-right ul li{
	display:inline-block;
	margin:0 1em;
}
.top-banner-right ul li:nth-child(4){
	margin-right:0;
}
.top-banner-right ul li a{
	color:#fff;
	font-size:1em;
}
.top-banner-right ul li a:hover{
	color:#fd5c63;
}
.logo{
    float: left;
    margin: 1em 0 0 0;
}
.logo h1{
	margin:0;
}
.logo h1 a{
	color:#fff;
	font-size:1em;
	text-decoration:none;
	font-family: 'Pacifico', cursive;
}
/*-- top-nav --*/
.top-nav {
    margin: 2em 0 0 0;
	float: right;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 1em;
    float: left;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: right;
}
.navbar-default{
	background:none;
	border:none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a{
    color: #fff !important;
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 700;
}
.top-nav ul li a:hover{
    color: #F44336 !important;
}
.top-nav ul li a.active{
    color: #F44336 !important;
}

.top-nav ul li div{
    color: #fff !important;
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
}
.top-nav ul li div:hover{
    color: #F44336 !important;
}
.top-nav ul li div.active{
    color: #F44336 !important;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2em;
    left: 0;
    min-width: 90px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 0px 0px !important;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.caret {
    margin-left: 14px;
}
.banner-slider {
    margin: 8em 0 0 0;
}
.agileits-banner-info{
    margin: 0 auto;
    text-align: center;
    width: 62%;
}
.agileits-banner-info h3{
    color: #FFFFFF;
    font-size: 4em;
    margin: 0;
    font-weight: 700;
    font-family: 'Open Sans Condensed';
}
.agileits-banner-info p{
    color: #ffffff;
    font-size: .875em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.agileits-banner-info a {
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    display: block;
    border: solid 2px #f44336;
    width: 15%;
    text-align: center;
    text-decoration: none;
    margin: 2em auto 0;
    font-weight: 700;
    letter-spacing: 1px;
    background: #f44336;
}
.agileits-banner-info a:hover{
    border: solid 2px #FFFFFF;
    background: none;
    color: #FFFFFF;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: -50%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent url("../images/arrows.png") no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 91%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 132%;
    left: 47%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #f44336;
    border: 2px solid #f44336;
}
/*-- services --*/
.services,.offer,.special,.w3-agile-footer,.w3l-about-top,.different,.team,.codes,.typography,.gallery,.contact{
	padding:4em 0;
}
.services-heading h2,.w3l-offer-heading h3,.wthree-special-heading h3,.w3-about-heading h2,.w3-different-heading h3,.agileits-team-heading h3,.contact-form h3,.w3ls-contact-grids h3{
	color: #2f2f2f;
    margin: 0;
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.w3-agileits-services-grids{
	margin:4em 0 0 0;
}
.w3-agileits-services-left{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 570px;
}
.services-right-grid {
    text-align: center;
}
i.fa.fa-anchor, i.fa.fa-comment, i.fa.fa-heartbeat,i.fa.fa-magnet,i.fa.fa-thumbs-up {
    color: #F44336;
    font-size: 2em;
}
.services-icon{
    width: 70px;
    height: 70px;
    text-align: center;
    border: solid 2px #f1f1f1;
    padding: 1.2em 0 0 0;
    margin: 0 auto;
}
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #F44336;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.services-right-grid:hover div.hvr-radial-in:before{
  -webkit-transform: scale(0);
  transform: scale(0);	
}
.services-right-grid:hover i.fa.fa-anchor,.services-right-grid:hover i.fa.fa-comment,.services-right-grid:hover i.fa.fa-heartbeat,.services-right-grid:hover i.fa.fa-magnet,.services-right-grid:hover  i.fa.fa-thumbs-up{
	color:#FFFFFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;	
}
.services-icon-info h5{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0 0;
}
.services-right-grids:nth-child(2){
	margin:2em 0;
}
.services-icon-info p{
    color: #999999;
    font-size: 1em;
    margin: 1em 0 0 0;
}
/*-- //services --*/
/*-- offer --*/
.offer{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	text-align:center;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.w3l-offer-heading h3 {
    color: #FFFFFF;
}
.agileinfo-offer-grid {
    margin: 4em 0 0 0;
}
.agileinfo-offer-grid h4 {
    color: #FFFFFF;
    background: #F44336;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 3em;
    font-size: 2em;
    font-weight: 700;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.agileinfo-offer-grid h4 span {
    font-weight: 100;
}
.agileinfo-offer-grid h5{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 700;
}
.agileinfo-offer-grid p{
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 60%;
}
/*-- //offer --*/
/*-- special --*/
.special{
	
}
.special-grids{
	margin:4em 0 0 0;
}
.w3-agileits-special-grid-info{
    position: relative;
    overflow: hidden;
    padding: .5em;
    margin: 0 .5em;
    border: solid 5px #ececec;
}
.w3-agileits-special-grid-info img{
	width:100%;
}
.agile-special-grid-text h5{
    color: #2f2f2f;
    font-size: 1em;
    margin: 1em 0 0 0;
    line-height: 1.4em;
    font-weight: 700;
}
.agile-special-grid-text p{
    color: #f44336;
    font-size: 2em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.agile-special-grid-text p del{
    color: #999999;
    font-weight: 100;
}
.owl-theme .owl-controls {
    margin-top: 30px !important;
}
/*-- //special --*/
/*-- footer --*/
.w3-agile-footer{
    background: #191d20;
}
.footer-grid-heading h4{
    color: #ffffff;
    font-size: 2em;
    margin: 0;
}
.footer-grid-info {
    margin: 1em 0 0 0;
}
.footer-grid-info  p{
	margin:0;
    font-size: 1em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.footer-grid-info p span{
	display:block;
}
.footer-grid-info p span a{
    color: #BBBBBB;	
	text-decoration:none;
}
.footer-grid-info p span a:hover{
    color: #ffffff;
}
.footer-grid-info ul{
	padding:0;
	margin:0;
}
.footer-grid-info ul li{
	display:block;
}
.footer-grid-info ul li a{
    font-size: 1em;
    color: #BBBBBB;
    line-height: 1.8em;
	text-decoration:none;
}
.footer-grid-info ul li a:hover{
	color: #ffffff;
}
.social-grid{
    margin: 1em 0 0 0;	
}
.social {
    margin: 1em 0 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #3b5998;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #1da1f2;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #f26522;
}
.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #45668e;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.footer-grid-info form input[type="email"] {
    background: #fff;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #BBBBBB;
    font-size: .875em;
    width: 100% !important;
    font-weight: 400;
    border: 1px solid #BBBBBB;
    margin: 0 0 1em 0;
}
.footer-grid-info form input[type="email"]:focus {
    outline: none;
}
.footer-grid-info form input[type="submit"] {
    border: solid 2px #F44336;
    color: #ffffff;
    font-size: 1em;
    padding: .4em 2em;
    text-decoration: none;
    background: #F44336;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-grid-info form input[type="submit"]:hover{
	color:#FFFFFF;
	border: solid 2px #FFFFFF;
	background:none;
}
.agileits-w3layouts-copyright {
    text-align: center;
    margin: 2em 0 0 0;
}
.agileits-w3layouts-copyright p{
	margin:0;
    font-size: 1em;
    color: #BBBBBB;
}
.agileits-w3layouts-copyright p a{
    color: #FFFFFF;	
	text-decoration:none;
}
.agileits-w3layouts-copyright p a:hover{
	color: #BBBBBB;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- about --*/
.about-banner{
    padding: 0em 0 2em !important;
}
.w3-about-heading h2 {
	color:#FFFFFF;
}
.w3ls-about-info img{
	width:100%;
}
.w3ls-about-info p{
	color:#999999;
	margin:1em 0 0 ;
	font-size:1em;
	line-height:1.8em;
}
/*-- //about --*/
/*-- different --*/
.different{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-different-heading h3{
    color: #FFF;
}
.w3agile-different-info p{
    text-align: center;
    margin: 3em auto 0;
    font-size: 1em;
    color: #FFFFFF;
    width: 73%;
    line-height: 1.8em;	
}
.w3agile-button {
    margin: 3em 0 0 0;
    text-align: center;
}
.w3agile-button a{
    border: solid 2px #f44336;
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 2em;
    text-decoration: none;
    background: #f44336;
}
.w3agile-button a:hover{
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
	background:none;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //different --*/
/*-- team --*/
.team{
    padding: 4em 0;
}
.team-heading{
	text-align:center;
}
.team-grids {
    margin: 4em 0 0 0;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
    width: 100%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect10 .img {
  z-index: 11;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10.colored .info {
  background: #1a4a72;
}
.ih-item.circle.effect10 .info {
    background: #F44336;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10 .info h3 {
  color: #fff;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect10 .info p {
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect10:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.ih-item.circle.effect10.top_to_bottom .info h3 {
  margin: 0 30px;
  padding: 25px 0 0 0;
  height: 78px;
}
.ih-item.circle.effect10.top_to_bottom .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.top_to_bottom:hover .img {
  -webkit-transform: translateY(50px) scale(0.5);
  -moz-transform: translateY(50px) scale(0.5);
  -ms-transform: translateY(50px) scale(0.5);
  -o-transform: translateY(50px) scale(0.5);
  transform: translateY(50px) scale(0.5);
}

.ih-item.circle.effect10.bottom_to_top .info h3 {
    margin: 6.5em 0 1em 0;
    font-size: 1.2em;
    color: #FFF;
    font-weight: 700;
}
.ih-item.circle.effect10.bottom_to_top .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.bottom_to_top:hover .img {
  -webkit-transform: translateY(-50px) scale(0.5);
  -moz-transform: translateY(-50px) scale(0.5);
  -ms-transform: translateY(-50px) scale(0.5);
  -o-transform: translateY(-50px) scale(0.5);
  transform: translateY(-50px) scale(0.5);
}
.team-icons ul{
	padding:0;
	margin:0;
}
.team-icons ul li{
	display:inline-block;
}
.team-icons ul li:nth-child(2){
	margin:0 1em;
}
.team-icons ul li a{
	color: #FFFFFF;
    text-align: center;	
}
.team-icons ul li a:hover{
	opacity:.5;
}
/*-- //team --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
	background: #f44336;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 2em;
    color: #f44336 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 2em;
    color: #2f2f2f;
    font-weight: 700;
    margin: 0;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
ul.bs-glyphicons-list {
    padding: 0;
    margin: 0;
}
/*-- //icons --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
.grid_4 {
    margin-top: 30px;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //typography --*/
/*--gallery--*/
.w3-agileits-gallery-grids.agileits-gallery-grids {
    margin: 2em 0;
}
.w3-agileits-gallery-grids:nth-child(5) {
    float: right;
}
.w3-agileits-gallery-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
.agile-b-wrapper{
    background: rgba(0, 0, 0, 0.58);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
	transition:.5s all;
	opacity: 0;
}
.w3-agileits-gallery-grids a:hover .agile-b-wrapper{
	height: 100%;
	opacity: 1;
}
.agile-b-wrapper h5 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 3.5em auto 0;
    background: #F44336;
    width: 100px;
    font-weight: 700;
    height: 100px;
    border-radius: 50%;
    line-height: 3em;
}
.agile-b-wrapper h5 span{
	font-weight:100;
}
/*--//gallery--*/
/*-- contact --*/
.w3l-map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}
.e-mail p {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #473B3B;
    line-height: 1.8em;
    text-align: center;
}
.e-mail p a{
    color: #FD5C63;
    text-decoration: none;
}
.contact-form {
    margin: 3em 0;
}
.contact-form form {
  margin: 2em 0 0 0;
}
.contact-form input[type="text"] {
    width: 32.6%;
    color: #999999;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 1em;
    margin: 0 .5em 1em 0;
    border: solid 2px #cecece;
    -webkit-appearance: none;
}
.contact-form input[type="text"]:nth-child(3) {
  margin-right: 0;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  color: #999999;
  background: none;
  font-size: 1em;
  outline: none;
  padding: 1em;
  border: solid 2px #cecece;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    border: solid 2px #F44336;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    padding: .4em 2em;
    text-decoration: none;
    letter-spacing: 1px;
    background: #F44336;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
	border: solid 2px #2f2f2f;
    background: none;
    color: #2f2f2f;
}
.agileits-address-grids {
  margin-top: 2em;
}
.agileinfo-address-grid{
  width: 80%;
  margin: 0 auto;
}
.agileinfo-address-grid h5 {
    font-size: 1em;
    margin: 0 0 1em 0;
    color: #473B3B;
    text-align: center;
    line-height: 1.5em;
    font-weight: 600;
}
.agileinfo-address-grid h5 span {
  display: block;
}
.w3-agileits-address-info-left{
  float: left;
}
.w3-agileits-address-info-left p {
    font-size: 1em;
    margin: 0;
    color: #473B3B;
    line-height: 1.8em;
}
.address-info-right {
  float: right;
}
/*-- //contact --*/
/*-- responsive --*/
@media(max-width:1080px){
	.contact-form input[type="text"] {
		width: 32.5%;
	}
}
@media(max-width:1024px){
	.agile-b-wrapper h5 {
		margin: 2.5em auto 0;
	}
}
@media(max-width:1024px){
	.agileits-banner-info {
		width: 84%;
	}
	.banner-slider {
		margin: 2em 0 0 0;
	}
	.banner {
		padding: 0em 0 8em;
	}
	.callbacks_tabs {
		top: 114%;
		left: 46%;
	}
}
@media(max-width:991px){
	.w3-agileits-services-left {
		min-height: 457px;
		width: 50%;
		margin: 0 auto 2em;
	}
	.footer-grid {
		float: left;
		width: 50%;
	}
	.footer-grid:nth-child(1),.footer-grid:nth-child(2){
		margin-bottom:2em;
	}
	.w3agile-different-info p {
		width: 100%;
	}
	.w3-agileits-gallery-grids {
		width: 50%;
		float: left;
		padding: 0 .5em;
	}
	.w3-agileits-gallery-grids.gallery-two {
	    width: 100%;
		padding: 0 .5em;
		margin: 1em 0 0 0;
	}
	.gallery-grids.agileits-gallery-grids {
		margin: 0;
	}
	.w3-agileits-gallery-grids:nth-child(6) {
		padding-bottom: 0 !important;
	}
	.w3-agileits-gallery-grids:nth-child(5), .w3-agileits-gallery-grids:nth-child(8), .w3-agileits-gallery-grids:nth-child(9) {
		margin: 1em 0;
	}
	.w3-agileits-gallery-grids a img {
		width: 100%;
	}
	.w3-agileits-gallery-grids.agileits-gallery-grids {
	    margin: 1em 0 0 0;
	}
	.agile-b-wrapper h5 {
		margin: 4.5em auto 0;
	}
	.address-text:nth-child(2) {
		margin: 2em 0;
	}
}
@media(max-width:768px){
	.contact-form input[type="text"] {
		width: 32.3%;
	}
}
@media(max-width:736px){
	.navbar-default .navbar-toggle {
	    border-color: #fff;
		color: #FFFFFF;
		margin: 0;
	}
	.top-nav ul li {
		display: block;
		margin:1em 0;
		float: none;
	}
	div#bs-example-navbar-collapse-1 {
	    width: 100%;
		background: rgba(0, 0, 0, 0.79);
		border: none;
		box-shadow: 0 0 0;
		position: absolute;
		margin: 3em 0 0 0;
		z-index: 9;
	}
	.top-nav {
	    margin: 1em 0 0 0;
		float: right;
		text-align: center;
		width: 65%;
	}
	ul.nav.navbar-nav {
		float: none;
	}
	.navbar-nav .open .dropdown-menu {
		text-align: center;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.services-right-grid {
	    text-align: center;
		margin: 2em auto 0;
		width: 70%;
	}
	.agileinfo-offer-grid p {
		width: 80%;
	}
	.team-grid:nth-child(2) {
		margin: 2em 0;
	}
	.contact-form input[type="text"] {
		width: 32.2%;
	}
}
@media(max-width:667px){
	.contact-form input[type="text"] {
		width: 32%;
	}
}
@media(max-width:640px){
	.top-nav {
		width: 63%;
	}
	.agileits-banner-info {
		width: 90%;
	}
	.agileits-banner-info h3 {
		font-size: 3em;
	}
	.top-banner-left ul li:nth-child(2) {
		margin-left: 2em;
	}
}
@media(max-width:600px){
	.top-banner-left {
		float: left;
		width: 41%;
	}
	.top-nav {
		width: 62%;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
	}
	.banner {
		padding: 0em 0 6em;
	}
	.callbacks_tabs {
		left: 45%;
	}
	.agile-b-wrapper h5 {
		margin: 3.5em auto 0;
	}
}
@media(max-width:568px){
	.top-banner-left {
		width: 45%;
	}
	.top-nav {
		width: 60%;
	}
	.contact-form input[type="text"] {
		width: 31.9%;
	}
}
@media(max-width:480px){
	.top-nav {
		width: 52%;
	}
	.top-banner-left ul li:nth-child(2) {
		margin-left: 1em;
	}
	.top-banner-left {
		width: 50%;
	}
	.agileits-banner-info a {
		width: 22%;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.callbacks_tabs {
		left: 44%;
		top: 108%;
	}
	.banner {
		padding: 0em 0 5em;
	}
	.services, .offer, .special, .w3-agile-footer, .w3l-about-top, .different, .team, .codes, .typography, .gallery, .contact {
		padding: 2em 0;
	}
	.w3-agileits-services-grids {
		margin: 2em 0 0 0;
	}
	.w3-agileits-services-left {
		min-height: 410px;
		width: 65%;
	}
	.services-right-grid {
		width: 100%;
	}
	.agileinfo-offer-grid p {
		width: 100%;
	}
	.special-grids {
		margin: 2em 0 0 0;
	}
	.footer-grid {
		float: none;
		width: 100%;
	}
	.footer-grid:nth-child(1), .footer-grid:nth-child(2),.footer-grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.agile-b-wrapper h5 {
		margin: 2.2em auto 0;
	}
	.contact-form input[type="text"] {
		width: 100%;
	}
	.team-grids {
		margin: 2em 0 0 0;
	}
	.agileinfo-offer-grid {
		margin: 2em 0 0 0;
	}
}
@media(max-width:414px){
	.top-banner-right ul li {
		margin: 0 .5em;
	}
	.top-banner-left {
		width: 60%;
	}
	.logo h1 a {
		font-size: .8em;
	}
	.navbar-toggle {
		padding: 7px 8px;
	}
	.agileits-banner-info {
		width: 100%;
	}
	.callbacks_tabs {
		left: 42%;
	}
	.services-heading h2, .w3l-offer-heading h3, .wthree-special-heading h3, .w3-about-heading h2, .w3-different-heading h3, .agileits-team-heading h3, .contact-form h3, .w3ls-contact-grids h3 {
		font-size: 2em;
	}
	.agile-b-wrapper h5 {
	    margin: 2em auto 0;
		width: 75px;
		height: 75px;
		line-height: 2.4em;
	}
	.w3agile-different-info p {
		margin: 2em auto 0;
	}
	.contact-form {
		margin: 2em 0;
	}
	.w3l-map iframe {
		min-height: 300px;
	}
	.banner {
		background: url(../images/1.jpg) no-repeat -440px 0px;
		background-size: cover;
	}
	.about-banner {
		background: url(../images/1.jpg) no-repeat -578px 0px !important;
	}
	.bs-glyphicons li {
	    width: 31.33% !important;
	}
}
@media(max-width:384px){
	.top-banner-left {
		width: 63%;
	}
	.top-nav {
		width: 50%;
	}
	.agileits-banner-info h3 {
		font-size: 1.8em;
	}
	.banner-slider {
		margin: 1em 0 0 0;
	}
	.agileits-banner-info p {
		letter-spacing: 0px;
	}
	.w3-agileits-services-left {
		min-height: 360px;
		width: 75%;
	}
}
@media(max-width:375px){
	.top-banner-left {
		width: 65%;
	}
	.logo h1 a {
		font-size: .78em;
	}
	.navbar-toggle {
		padding: 6px 8px;
	}
	.w3-agileits-services-left {
		min-height: 400px;
		width: 90%;
	}
	.services-heading h2, .w3l-offer-heading h3, .wthree-special-heading h3, .w3-about-heading h2, .w3-different-heading h3, .agileits-team-heading h3, .contact-form h3, .w3ls-contact-grids h3 {
		font-size: 1.5em;
	}
	h3.agileits-icons-title {
		font-size: 1.5em;
	}
	.agile-b-wrapper h5 {
		margin: 1.6em auto 0;
	}
	.contact-form input[type="text"],.contact-form textarea {
		padding: .5em;
	}
	.top-banner-right ul li {
		margin: 0 .4em;
	}
	.banner {
		background: url(../images/1.jpg) no-repeat -405px 0px;
		background-size: cover;
	}
}
@media(max-width:320px){
	.top-banner-left {
		width: 100%;
		float: none;
		margin-bottom: .5em;
	}
	.top-banner-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.top-banner-right ul li {
		margin: 0 .5em;
	}
	.top-banner-left ul li:nth-child(2) {
		margin-left: 5em;
	}
	.logo h1 a {
		font-size: .7em;
	}
	.top-nav {
		width: 46%;
	}
	.logo {
		float: left;
		margin: 0.5em 0 0 0;
	}
	.agileits-banner-info h3 {
		font-size: 1.5em;
	}
	.agileits-banner-info a {
		width: 28%;
		font-size: .9em;
		margin: 1em auto 0;
	}
	.banner-slider {
		margin: 0em 0 0 0;
	}
	.banner {
		padding: 0em 0 3em;
	}
	.callbacks_tabs {
		top: 100%;
	}
	.w3-agileits-services-left {
		min-height: 375px;
		width: 95%;
	}
	.about-banner {
		padding: 0em 0 2em !important;
		background: url(../images/1.jpg) no-repeat -679px 0px !important;
	}
	.agile-b-wrapper h5 {
		margin: 1.2em auto 0;
	}
	.w3l-map iframe {
		min-height: 200px;
	}
	.callbacks_tabs {
		left: 40%;
	}
}
/*-- //responsive --*/