.flex{
    display: flex;;
}
.margin{
    margin-top: 30px;
}
.margin-left{
    margin-left: 25%;
}
.margin-bottom{
    margin-bottom: 20px;
}
.feature-center {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.feature-center .desc {
    padding-left: 180px;
}
.feature-center .icon {
    width: 90px;
    height: 90px;
    background: #007cc0;
    display: table;
    text-align: center;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}
.feature-center p, .feature-center h3 {
    margin-bottom: 30px;
}
.feature-center h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .feature-center {
        margin-bottom: 50px;
        text-align: center;
    }
    .feature-center .icon {
        margin: 0 auto 30px auto;
    }
}
.margin-top{
    margin-top: 100px;
}
.margin-top2{
    margin-top: 200px;
}
.min-width{
    min-width: 250px
}
.image-profile{
    border-radius: 50%;
}
.image-profile-on-add{
    height: 120px;
    width: 120px;
    overflow: hidden;

}
.addUser{
    margin-left: 45%;
    margin-top: 20px;
}
.addButton{
      justify-content: center;
      display: flex;
  }
