.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}

.pl-10 {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    color: #7aa7f3;
    background: #3f3f3f;
}

.pr-10 {
    margin-right: 5px;
    padding-right: 5px;
    background: #3f3f3f;
    color: #7aa7f3;
    padding-left: 5px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.colorWhite {
    color: white;
}

.colorDark {
    color: #353535;
}

.backgroundBlue {
    background: #2979FF;
}

.backgroundLight {
    background: #F3F3F3;
}
p{
    margin-top: 15px;
}
.imageMessage{
    max-height: 200px;
    max-width: 200px;
}
.like{
    margin-left: 5%;
    background-color: #414141;
    color: #ff5656;
    cursor: pointer;
}
.likeClicked{
    margin-left: 5%;
    background-color: #414141;
    color: #5681ca;
    cursor: pointer;
}

.unlike{
    margin-left: 5px;
    background-color: #414141;
    color: #6dc181;
    cursor: pointer;

}
.unlikeClicked{
    margin-left: 5px;
    background-color: #414141;
    color: #5681ca;
    cursor: pointer;

}
