.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50px;
    background-color: #1A1A1D;
}
.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 100%;
    width:100%;
}
.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
}
.messages {
    padding: 5% 0 0 0;
    overflow: auto;
    flex: auto;
    background-image: url("https://image.winudf.com/v2/image/Y29tLmNvZGVGYWN0b3J5LndhV2FsbHBhcGVyc19zY3JlZW5fMV8xNTMwNTY4MzE5XzA2Nw/screen-1.jpg?fakeurl=1&type=.jpg");
}
.back-image{
    display: flex;
    min-height: 60px;
    background-image: url("https://image.winudf.com/v2/image/Y29tLmNvZGVGYWN0b3J5LndhV2FsbHBhcGVyc19zY3JlZW5fMV8xNTMwNTY4MzE5XzA2Nw/screen-1.jpg?fakeurl=1&type=.jpg");
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5%;
}
.formForM {
    display: flex;
    border-top: 2px solid #D3D3D3;
    height: 70px;
}

.inputForM {
    border-radius: 0;
    width: 80%;
    padding-left: 15px;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    display: inline-block;
    border: none;
    width: 20%;
}
