.margin {
    margin-top: 80px;
}

.visible {
    display: none;
}

div.navbar-brand span {
    display: block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    margin-top: -10px;
    text-align: center;
    text-shadow: none;
}
.flex{
    display: flex;
}
ul.a {
    list-style-type: circle;
}
.margin-top{
    margin-top: 100px;
}
.margin-top2{
    margin-top: 200px;
}
.userName{
    color: white;
    font-size: 1em;
    font-weight: 400;
    float: right;
    margin-right: 10px;
}
.googleBtn{
    width: 100%;
    padding-left: 25%;
}